body {
    align-items: center;
    background-image: url(../img/pop-up-1-2@2x.png);
    background-size: cover;
    border: 1px none;
    display: flex;
    flex-direction: column;
  }

.log {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    padding: 20vw 20vw 0px;
}
  